@import 'mixins';

	
// Variables
$wRed: #ea4544;
$wBlue: #bbe7ef;
$wYellow: #ffbe34;
$wGreen: #ccda9d;

*{
	font-family: 'Roboto', sans-serif;
}

#wellcomeWrap{
	position: absolute;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;

	.mainSections{
		position: absolute;
		width: 50%;
		height: 100%;
	}

	#firstBlock{
		top: 0;
		left: 0;
		background-color: #fff;
		z-index: 1000;
		@include transitions(all, 1.8s, cubic-bezier(.36,.01,.06,.99));

		#wellcomeLogo{
			position: absolute;
			width: 280px;
			height: 44px;
			margin: auto;
			left: 0; right: 0;
			top: 0;
			bottom: 135px;
			@include transitions(all, 0.7s, ease-out);

			img{
				width: 100%;
			}
		}

		#wellcomeMail{
			position: absolute;
			width: 260px;
			height: 85px;
			line-height: 3em;
			margin: auto;
			left: 0; right: 0;
			top: 50%;
			bottom: 0;
			text-align: center;

			a{
				display: block;
				font-size: 18px;
				text-decoration: none;
				color: $wRed;
				@include transitions(all, 0.7s, ease-out);
			}
		}

		#wellcomeSocial{
			position: absolute;
			width: 114px;
			height: 38px;
			margin: auto;
			left: 0; right: 0;
			bottom: 9%;
			list-style: none;
			padding: 0;

			.socialIcons{
				@include transitions(all, 0.7s, ease-out);

				a{
					display: block;

					img{
						width: 100%;
					}
				}
			}

			.fb{
				float: left;
			}

			.ig{
				float: right;
			}
		}
	}

	#secondBlock{
		right: 0;
		bottom: 0;

		.innerSections{
			@include displayLeft();
			width: 100%;

			.innerColumns:first-child{
				padding-right: 5px;
			}
			.innerColumns:last-child{
				padding-left: 5px;
			}

			.innerColumns{
				@include displayLeft();
				height: 100%;
				@include boxSizeFit();

				.innerModule{
					display: block;
					width: 100%;
					overflow: hidden;

					.picture{
						min-width: 100%;
						min-height: 100%;
						width: auto;
						height: auto;
					}

					#polancoModule{
						background-color: $wBlue;
					}
					#chapultepecModule{
						background-color: $wYellow;
					}
					#reformaModule{
						background-color: $wRed;
					}

					.imgContainer{
						position: relative;
						width: 100%;
						height: 100%;
						overflow: hidden;
						@include transitions(all, 0.7s, ease-out);

						.isotype{
							@include centerThis();
						}
					}
				}
			}
		}

		.headBlock{
			height: 25.92%;
			padding-bottom: 10px;
			@include boxSizeFit();

			.innerColumns{
				width: 50%;

				.innerModule{
					height: 100%; 
				}
			}
		}

		.bodyBlock{
			height: 74.08%;
			@include boxSizeFit();

			.innerColumns:first-child{
				width: 37.5%;
			}.innerColumns:nth-child(2){
				width: 25%;
				padding-left: 5px;
				padding-right: 5px;
			}.innerColumns:last-child{
				width: 37.5%;
			}

			.innerColumns{

				.horizontalModule:first-child, .horizontalModule:nth-child(2){
					height: 35%;
					padding-bottom: 10px;
					@include boxSizeFit();
				}
				.horizontalModule:nth-child(3){
					height: 30%;
				}
				.verticalModule:first-child{
					height: 51.87%;
					padding-bottom: 10px;
					@include boxSizeFit();
				}
				.verticalModule:nth-child(2){
					height: 48.12%;
				}

				.innerModule{

					.rightDetail{
						float: right;
					}
					.leftDetail{
						float: left;
					}
					.centerDetail{
						position: absolute;
						margin: auto;
						right: 0;
						bottom: 0; top: 0;
					}
				}
			}
		}
	}
}


// Animation Classes
@import 'animations';


// Responsive Styles
@import 'responsive';


